/* 
    Designer name : ahmed nadjib 
    theme coder : ahmed nadjib.
    Color ffa372
    #184d47 green 
 
        */


        * { 
            -moz-box-sizing: border-box; 
            -webkit-box-sizing: border-box; 
             box-sizing: border-box; 
             
         }
         html
         {
            scroll-behavior: smooth;
         }
        
         body{
             display: flex;
             flex-direction: column;
             margin:0; 
             padding: 0;
             background-color: #ffffff;
             color: rgba(0, 0, 0, 0.8);
             position: relative;
            

            }

        
         /* Begin the NavBar */ 
         .dropdown-menu.show
         {
             display: flex !important;
             padding: 20px 0;
             flex-direction: column;
         }
        .nav-bar .navbar
        {
            background : linear-gradient(90deg, rgba(244,148,31,1) 0%, rgba(241,203,97,1) 100%); 
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        .navbar-dark .navbar-nav
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .active-link
        {
            border-left: 2px solid #000 !important;
        }
        .collapse .nav-item a
        {
            color: #000 !important;
        }
        .collapse .navbar-nav:first-child .nav-item a:hover
        {
            border-left: 2px solid #000 !important;
            margin: 0px 5px;
            transform: scale(1.1);
        }
        .collapse .partenaire
        {
            border: 2px solid #000;
            border-radius: 20px;
        }


        .navbar-dark .navbar-nav .nav-link
        {

            transition: all .3s ease-out !important;
            color: rgba(0, 0, 0, 0.8);
        }

        .collapse .nav-item a:hover
        {
            border-left: 2px solid #f39200;
            margin: 0px 5px;
            transform: scale(1.1);
        }
        .count-cart
        {
            font-size: 20px;
        }
        .collapse .navbar-nav:first-child .nav-item:last-child
        {
            border: unset !important;
            border-radius: unset !important;
        }
        .shopping-cart i , .shopping-cart span
        {
            color: #000;
        }
        .collapse .partenaire
        {
            border-color: #000  !important;
        }
        .nav-link
        {
            font-size: 0.8em !important;
        }
         /* End The NavbaR */
         



/* Begin the main  */

.main 
{
    margin-top: 80px;
    margin-bottom: 80px;
}
.main .row
{
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .row:first-child div:nth-child(2) input
{
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.main .row:first-child div:first-child
{
    font-size: 2rem;
    font-weight: 600;
}
.main .row:first-child div:last-child button
{
    padding: 7px 40px;
    border: 1px solid;
    border-radius: 5px;
    background-color:#e45826 ;
    color: #fff;
}

.main .row:nth-child(2) .produits .table tbody tr td
{
    width:25% ;
}


.main .row:nth-child(2) .produits .table tbody tr td img
{
    width: 60%;
}
/* end The main  */


    /* Begin product  */
        /* Modifiying boostrap css */
            .card-img, .card-img-top, .card-img-bottom 
            {
                width: 90% !important;
            }
            .produits .col-lg-4
            {
                margin-bottom: 30px;
            }
            .produits .row
            {
                display: flex;
                justify-content: center;
                align-items: center;
            }

        /* End bootstrap modification */
    .produits .card-wrapper
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .produits .card-body
    {
        display: flex !important;
        flex-direction: column;
        justify-content: space-around;
    }
    .produits .card-body .card-title
    {
        font-size: 1.03rem;
        margin-bottom: 10px;
    }
    .produits .card-body p
    {
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 10px;
    }
    .col-lg-4 .btn-primary
    {
        width: 100%;
        background-color: #e45826;
        border-color: #e45826;
    }
    .card-text
    {
        font-size: 12px;
    }
    .card-price
    {
        color: rgba(244,148,31,1);
    }
    .main .products .row ul
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main .products .row > div 
    {
        margin-top: 20px;
    }

    .main .products .row > div a
    {
        background-color: rgba(241, 203, 97, 0.8);
        border-color:rgba(241, 203, 97, .9) ;
        color: rgba(0, 0, 0, 0.8);
    }
    .produits .title
    {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .clip 
    {
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
        background-color: #ddd;
        font-size: 1rem !important ;
        width: 25%;
        padding: 10px;
        background: linear-gradient(90deg, rgba(244,148,31,1) 0%, rgba(241,203,97,1) 100%) ; 
        margin-bottom: 20px;
    }
    .produits .card
    {
        transition: all .3s ease-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 500px;
    }
    .produits .card:hover
    {
        cursor: pointer;
        transform: scale(1.1);
    }
    .pagination-wrapper
    {
        display: flex;
        justify-content: center;
    }
  
    /* end product */


    /* begin modal  */

    .modal-footer button:first-child
    {
        background-color:#e45826 ;
        border-color: #e45826;
    }
    .modal-footer button:last-child
    {
        color: red;
        background: unset;
        border: unset;
    }
    .btn-danger 
    {
        background-color: #dc3545 !important ;
    }

    /* end modal  */
    @media (max-width: 575px) { 
        .clip 
        {
            clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            background-color: #ddd;
            font-size: 0.6rem !important ;
            width: 50%;
            padding: 10px;
            background: linear-gradient(90deg, rgba(244,148,31,1) 0%, rgba(241,203,97,1) 100%) ; 
            margin-bottom: 20px;
        }
    }
    @media (min-width: 576px) {  
    .clip 
    {
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
        background-color: #ddd;
        font-size: 0.6rem !important ;
        width: 40%;
        padding: 10px;
        background: linear-gradient(90deg, rgba(244,148,31,1) 0%, rgba(241,203,97,1) 100%) ; 
        margin-bottom: 20px;
    }
    }


@media (min-width: 768px) { 
    .clip 
    {
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
        background-color: #ddd;
        font-size: 0.8rem !important ;
        width: 40%;
        padding: 10px;
        background: linear-gradient(90deg, rgba(244,148,31,1) 0%, rgba(241,203,97,1) 100%) ; 
        margin-bottom: 20px;
    }
    .chercher 
    {
        font-size: 1.2rem !important;
    }
}


@media (min-width: 992px) { 
    .clip 
    {
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
        background-color: #ddd;
        font-size: 0.8rem !important ;
        width: 30%;
        padding: 10px;
        background: linear-gradient(90deg, rgba(244,148,31,1) 0%, rgba(241,203,97,1) 100%) ; 
        margin-bottom: 20px;
    }
    .chercher 
    {
        font-size: 1.5rem !important;
    }
}


@media (min-width: 1200px) { 
    .clip 
    {
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
        background-color: #ddd;
        font-size: 0.9rem !important ;
        width: 25%;
        padding: 10px;
        background: linear-gradient(90deg, rgba(244,148,31,1) 0%, rgba(241,203,97,1) 100%) ; 
        margin-bottom: 20px;
    }
 }


@media (min-width: 1400px) {  }
