/* 
    Designer name : ahmed nadjib 
    theme coder : ahmed nadjib.
    Color ffa372
    #184d47 green 
 
        */


        * { 
            -moz-box-sizing: border-box; 
            -webkit-box-sizing: border-box; 
             box-sizing: border-box; 
             
         }
         html
         {
            scroll-behavior: smooth;
         }
        
         body{
             display: flex;
             flex-direction: column;
             margin:0; 
             padding: 0;
             background-color: #ffffff;
             color: rgba(0, 0, 0, 0.8);
             position: relative;
            

            }

        
         /* Begin the NavBar */
        .nav-bar
        {
         
            position: fixed;
            top: 0;
            z-index: 999;
            height: 75px ;
            padding: 0;
            transition: all .5s ease-out;
        
        } 
        .nav-bar .navbar{
            padding-left: 40px ;
            padding-right: 40px;
            height: 100%;
            background : linear-gradient(90deg, rgba(244,148,31,1) 0%, rgba(241,203,97,1) 100%); 
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        .nav-bar .navbar .navbar-brand img
        {
            width: 100%;
            height: 100%;
        }

        .nav-bar .navbar .navbar-brand .img_logo
        {
            padding-right: 20px;
            border-right:1px solid rgba(255, 255, 255, 0.3);
            width: auto;
            height: auto;
            margin-right: 30px;
        }
        .nav-bar .navbar .navbar-brand p
        {
            display: none !important;
            margin: 0 !important;
            font-size: 16px;
            font-weight: 300;
        }
        .nav-bar .navbar .navbar-brand p span
        {
            font-size: 18px;
            font-weight: 500;
        }
        .navbar-dark .navbar-nav .nav-link
        {

            transition: all .3s ease-out !important;
            color: rgba(0, 0, 0, 0.8)!important;
        }
        .active-link
        {
            border-left: 2px solid #000 !important;
        }
        .collapse .nav-item a:hover
        {
            border-left: 2px solid #000 !important;
            margin: 0px 5px;
            transform: scale(1.1);
        }
        .collapse .partenaire
         {
             border: 2px solid #000 !important;
             border-radius: 20px;
         }
         
        
         /* End The NavbaR */
        
         /* Begin Footer */
         .footer
         {
            position: relative;
            bottom: 0;
            z-index:0;
            background: rgb(43,79,97);
            background: linear-gradient(90deg, rgba(244,148,31,1) 0%, rgba(241,203,97,1) 100%) ; 
            font-family: 'Noto Sans JP', sans-serif;
         }
         
         .devider 
         {
             border-bottom: 1px solid rgba(255, 163, 114, 0.5) ;
         }
         .footer .container .second-row h6
         {
             font-weight: 600;
             letter-spacing: 0.05em;
         }
         i:hover
         {
            cursor: pointer;
            color: #71989b;
         }
         .social-media  a {
             color:#041922 !important;
         }
         /* End Footer */


         /* begin main  */
         .main-page
         {
             margin-top: 175px;
             margin-bottom: 80px;
         }

        .main-page .container .row:nth-child(2) div
        {
            margin: 10px 0;
        }
         /* end M   main  */


         @media (max-width : 575px)
{
    .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
        width: 100%;
        padding-right: 15px!important;
        padding-left: 15px!important;
        margin-right: auto;
        margin-left: auto;
    }
    .nav-bar{
        
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
     .navbar{
        padding-right: 0px !important;
        padding-left: 0px !important;
     }
    .slider .row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    } 
    .slider .row h1
    {
        font-size:58px !important ;
    }
    .slider .row .main-text p
    {
        font-size: 1.5em !important;
    }
    .nav-bar .navbar
    {
        padding-left: 0px !important;
        padding-right: 0px!important;
    }
    .nav-link 
    {
        padding: 10px !important;
        color: rgba(0, 0, 0, 0.8) !important;
    }
     .collapse .nav-item:not(:last-child) a:hover
    {
    border-left: 2px solid #009FE3 !important;
        transform: unset !important;
    }
    .nav-bar .navbar .navbar-brand p
    {
        display: flex !important;
    }
    .navbar-collapse
    {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        text-align: left;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.8);
    }
    .aboutus .container .first-row p
    {
        padding: 5px !important;
    }
    .aboutus .container .first-row p
    {
        padding: 10px !important;
    }
    .valeurs
    {
        margin-top: 3rem;
        text-align: center;
        
    }
    .navbar-brand
    {
        margin-right: 0 !important;
    }
    .valeurs div
    {
        justify-content: center!important;
    }
    .philo
    {
        margin-bottom: 3rem;
        text-align: center;
    }
    .philo div
    {
        justify-content: center!important;
    }
    .shake
    {
        margin-bottom: 20px;
        border-right: 0px solid #fff !important;
    }
    .card
    {
        margin-bottom: 20px;
    }
    .footer .container{
        padding: 0px 20px !important;
    }
    .navbar-dark .navbar-brand
    {
        margin-left: 0px !important;
    }
    .img_logo
    {
        margin-right: 0px!important;
        margin-left: 10px;
    }
    .nav-bar .navbar .navbar-brand .img_logo {
        padding-right: 5px !important;

    }
    #btn-togler
    {
        margin-right: 30px !important;
    }
    .drop-content
    {
        width: 45vw !important;
    }
   
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px)
 { 
    .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
        width: 100%;
        padding-right: 15px!important;
        padding-left: 15px!important;
        margin-right: auto;
        margin-left: auto;
    }
    .collapse .nav-item a:hover
    {
        border-left: 2px solid #000 !important;
        margin: 0px 5px;
        transform: unset;
    }
    .nav-bar{
        
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
     .navbar{
        padding-right: 0px !important;
        padding-left: 0px !important;
     }
    .nav-bar .navbar .navbar-brand p
    {
        display: none !important;
    }
    .slider .row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .nav-link 
    {
        padding: 10px !important;
        color: rgba(0, 0, 0, 0.8) !important;
    }
     .collapse .nav-item:not(:last-child) a:hover
         {
            border-left: 2px solid #009FE3 !important;
             transform: unset !important;
         }
    .nav-bar .navbar .navbar-brand p
    {
        display: flex !important;
    }
    .navbar-collapse
    {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        text-align: left;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.8);
    }
    .aboutus .container .first-row p
    {
        padding: 10px !important;
    }
    .valeurs
    {
        margin-top: 3rem;
    }
    .philo
    {
        margin-bottom: 3rem;
    }
    .shake
    {
        margin-bottom: 20px;
        border-right: 0px solid #fff !important;
    }
     .card
    {
        margin-bottom: 20px;
    }
    .footer .container{
        padding: 0px 20px !important;
    }
    .aboutus .container .first-row p
    {
        padding: 10px !important;
    }
    .img_logo
    {
        margin-right: 10px!important;
        margin-left: 30px;
    }
    #btn-togler
    {
        margin-right: 30px !important;
    }
 }