.nav-bar .navbar {
    background: linear-gradient(260deg, rgba(129,178,20,1) 0%, rgba(80,182,20,1) 100%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #000 !important;
}
.navbar-dark .navbar-nav .nav-link
{
    color: #000 !important;
}
.collapse .partenaire
{
    border-color: #000 !important;
}
.histoire
{
    margin-top: 150px !important;
}

.histoire .container .row .his-img {
    width: 70vw;
    height: 350px;
}
.footer 
{
    background: linear-gradient(260deg, rgba(129,178,20,1) 0%, rgba(80,182,20,1) 100%) !important;
}

.histoire .container .row .his-img img {
    width: 80%;
    height: 100%;
}

span {
    color: #009CE1;
    position: relative;
}

span::after {
    content: " ";
    border-bottom: solid 2px #009CE1;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: skew(0deg, 359deg);
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first h2 {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 3rem;
    color: #000;
}

.row:not(:first-child)>div {
    transition: 0.6s;
}

.row:not(:first-child)>div:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.second {
    padding: 20px;
    font-size: 2rem;
}

.titre {
    font-size: 1.5rem;
}

.col-12 {
    margin: 20px 0;
}