         /* Begin the NavBar */
         .nav-bar
         {
             position: fixed;
             top: 0;
             z-index: 999;
             height: 75px ;
             padding: 0;
             transition: all .5s ease-out;
             
         
         } 
         .nav-bar:hover
         {
            background-position: left;
         }
         .nav-bar .navbar{
             padding-left: 40px ;
             padding-right: 40px;
             height: 100%;
             color: #fff;
             background-color: transparent;
             border-bottom: 1px solid rgba(255, 255, 255, 1);
         }
         .navbar-dark .navbar-nav .nav-link 
         {
             color: #fff  ;
         }
         .nav-bar .navbar .navbar-brand img
         {
             width: 100%;
             height: 100%;
         }
         
         .nav-bar .navbar .navbar-brand .img_logo
         {
             padding-right: 20px;
             border-right:1px solid rgba(255, 255, 255, 0.3);
             width: 80%;
             height: auto;
             margin-right: 30px;
         }
         .nav-bar .navbar .navbar-brand p
         {
             display: none !important;
             margin: 0 !important;
             font-size: 16px;
             font-weight: 300;
         }
         .nav-bar .navbar .navbar-brand p span
         {
             font-size: 18px;
             font-weight: 500;
         }
         .navbar-dark .navbar-nav .nav-link
         {
             font-size: 1em;
             font-weight: 500;
             text-transform: uppercase;
             transition: all .3s ease-out !important;
             font-family: revert;
         }
 
         .active-link
         {
             border-left: 2px solid #009FE3;
         }
         .collapse .partenaire
         {
             border: 2px solid #009FE3;
             border-radius: 20px;
         }
         .collapse .nav-item:not(:last-child) a
         {
             transition: all 0.5s ease-out;
         }
         .collapse .nav-item:not(:last-child) a:hover
         {
             background: transparent;
             margin-left: 15px;
             font-weight: 600;
             
         }
         .collapse .nav-item:last-child a:hover
         {
             border-left: unset !important;
         }
        .drop-down
        {
            position: relative;
            
        }
        .drop-down:hover .drop-content
        {
            display: flex;
            flex-direction: row;
        }
        .drop-content
        {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 20px 20px;
            z-index: 1;
            border-radius: 5px;
            background: rgba(255, 255, 255, 1);
            color: rgba(0, 0, 0, 0.9);
            width: 35vw;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .drop-content div div
        {
            padding: 20px;
            
        }  
        .drop-content div div:not(:last-child)
        {
            border-right: 1px solid rgba(0, 0, 0, 0.1);
        }
        .drop-content h4
        {
            color:#009FE3 ;
        }
        .drop-content h6
        {
            font-weight: 700;
        }
        .drop-content p
        {
            font-size: 12px;
        }

        .drop-content div p a 
        {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.8);
        }
        .drop-content div p a:hover
        {
            all:unset !important;
            cursor: pointer !important;
            color:#009FE3 ;
        }
        .navbar-dark .navbar-toggler {
            color: rgba(0,0,0, 0.55) !important;
            border-color: rgba(255, 255, 255, 0.1);
        }
        .dropdown-item
        {
            color: #000  !important;
        }
        .shopping-cart

        {
            color: #000;
            list-style: none;
        }
        .dropdown-menu.show
        {
            display: flex !important;
        }
        .dropdown-menu 
        {
            border-radius: unset !important;
            background-color: rgba(255, 255, 255, 1);
        }
        .domaine-wrap
        {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .domaine
        {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
          /* End The NavbaR */
          
          @media (min-width: 350px) and (max-width:767px) { 
            .dropdown-menu.show {
                display: flex !important;
                flex-direction: column;
                background: rgba;
                border: 0;
                background: rgba(255,255,255,0);
           }
           .dropdown-menu.show a {
              margin-top: 10px; 
              margin-bottom: 10px;
           }
           .domaine 
           {
               display: flex;
               flex-direction: column !important;
           }
           
        }
          
          @media (min-width: 768px) and (max-width: 1199px){
            .dropdown-menu.show {
                display: flex !important;
                flex-direction: column;
                background: rgba;
                border: 0;
                background: rgba(255,255,255,0);
           }
           .dropdown-menu.show a {
              margin-top: 10px; 
              margin-bottom: 10px;
           }
           .domaine 
           {
               display: flex;
               flex-direction: column !important;
           }
            .collapse .nav-item a:hover
            {
                border-left: 2px solid #000 !important;
                margin: 0px 5px;
                transform: unset;
            }
            .nav-bar{
                
                padding-right: 0px !important;
                padding-left: 0px !important;
                font-size: 12px;
            }
        
            .nav-bar .navbar .navbar-brand p
            {
                display: flex !important;
            }
            .nav-link 
             {
                 padding: 10px !important;
                 color: rgba(0, 0, 0, 0.8) !important;
             }
             .collapse .nav-item:not(:last-child) a:hover
                 {
                    border-left: 2px solid #000000 !important;
                     transform: unset !important;
                 }
            .nav-bar .navbar .navbar-brand p
            {
                display: flex !important;
            }
            .navbar-collapse
            {
                background-color: rgba(255, 255, 255, 0.9);
                padding: 20px;
                text-align: left;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.8);
            }
        
        }