/* 
    Designer name : ahmed nadjib 
    theme coder : ahmed nadjib.
    Color ffa372
    #184d47 green 
 
        */


        * { 
            -moz-box-sizing: border-box; 
            -webkit-box-sizing: border-box; 
             box-sizing: border-box; 
             
         }
         html
         {
            scroll-behavior: smooth;
         }
        
         body{
             display: flex;
             flex-direction: column;
             margin:0; 
             padding: 0;
             background-color: #ffffff;
             color: rgba(0, 0, 0, 0.8);
             position: relative;
            

            }

        
         /* Begin the NavBar */
        .nav-bar
        {
         
            position: fixed;
            top: 0;
            z-index: 999;
            height: 75px ;
            padding: 0;
            transition: all .5s ease-out;
        
        } 
        .nav-bar .navbar{
            padding-left: 40px ;
            padding-right: 40px;
            height: 100%;
            background : linear-gradient(90deg, rgba(244,148,31,1) 0%, rgba(241,203,97,1) 100%); 
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        .nav-bar .navbar .navbar-brand img
        {
            width: 100%;
            height: 100%;
        }
        #bien 
        {
            color: #000;
        }
        .nav-bar .navbar .navbar-brand .img_logo
        {
            padding-right: 20px;
            border-right:1px solid rgba(255, 255, 255, 0.3);
            width: auto;
            height: auto;
            margin-right: 30px;
        }
        .nav-bar .navbar .navbar-brand p
        {
            display: none !important;
            margin: 0 !important;
            font-size: 16px;
            font-weight: 300;
        }
        .nav-bar .navbar .navbar-brand p span
        {
            font-size: 18px;
            font-weight: 500;
        }
        .navbar-dark .navbar-nav .nav-link
         {
             font-size: 1em;
             font-weight: 400;
             text-transform: uppercase;
             transition: all .3s ease-out !important;
             font-family: revert;
         }
 
         .active-link
        {
            border-left: 2px solid #000 !important;
        }
        .collapse .nav-item a
        {
            color: #000 !important;
        }
        .collapse .nav-item a:hover
        {
            border-left: 2px solid #000 !important;
            margin: 0px 5px;
            transform: scale(1.1);
        }
        .collapse .partenaire
        {
            border: 2px solid #000  !important;
            border-radius: 20px;
        }
         /* End The NavbaR */

/* /start main */
        .wrapper 
        {
            margin-top: 75px;
            padding-top: 50px;
            padding-bottom: 50px;
            display: flex;
            flex-direction: row;
        }
        .wrapper .row 
        {
            display: flex;
            flex-direction: row;
        }
        .wrapper .commandes 
        {
            margin-top: 20px;
        }
        .wrapper .commandes .table-head
        {
            background-color: rgba(244,148,31,0.1) !important;
        }

        .wrapper .informations > div
        {
            display: flex;
            flex-direction: column;
            border: 1px solid rgba(244,148,31,0.1);
            border-radius: 5px;
            background: rgba(244,148,31,0.1);
            margin-top: 20px;
        }
        .wrapper .informations ul
        {
            padding: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        .wrapper .informations ul li input
        {
            width: 60%;
            text-align: center;
            border-radius: 7px;
            border-color: transparent;
            cursor: pointer;
            background-color: transparent;
        }
        .wrapper .informations div:last-child ul li
        {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
        .wrapper .informations div:last-child ul li label
        {
            font-weight: 600;
        }
        .wrapper .informations ul li 
        {
            width: 100%;
            list-style: none;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
        }
        
        .wrapper .informations ul li:nth-child(3) input ,.wrapper .informations ul li:last-child input
        {
            color: rgba(0, 0, 0, 0.7);
        }
        .wrapper .informations ul li img
        {
            width: 30%;
        }
        th,td 
        {
            text-align: center;
        }
/* end main */



/* Begin responsive  */
@media  only screen and (max-width: 1200px),
(min-device-width: 768px) and (max-device-width: 1200px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
        display: flex;
        flex-direction: column;
        align-items: flex-end;
            
        
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
    .btn
    {
        width: 50% !important;
        margin-bottom: 5px;
    }
    label
    {
        font-size: 13px;
    }
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Commande N°"; }
	td:nth-of-type(2):before { content: "Client"; }
	td:nth-of-type(3):before { content: "Numéro de tél"; }
	td:nth-of-type(4):before { content: "Produit"; }
	td:nth-of-type(5):before { content: "Quantité"; }
	td:nth-of-type(6):before { content: "Statut"; }
	td:nth-of-type(7):before { content: "Action"; }

}

@media (min-width: 576px) { 
/* Force table to not be like tables anymore */

 }


@media (min-width: 768px) {  }

label
{
    font-size: 13px;
}
@media (min-width: 992px) { 
    

}
@media (min-width: 1200px) { 
    input
    {
        font-size: 13px;
        width: 50% !important;
    }
    .btn
    {
        margin-bottom: 5px;
    }
    label
    {
        font-size: 12px !important;
    }
    .navbar-dark .navbar-nav .nav-link
    {
        font-size: 14px !important;
    }
 }

 @media (min-width: 1400px) { 
    .navbar-dark .navbar-nav .nav-link
    {
        font-size: 1em !important;
    }
}



/* End responsive */
         /* Begin Footer */
         .footer
         {
            position: relative;
            bottom: 0;
            z-index:0;
            background: rgb(43,79,97);
            background: linear-gradient(90deg, rgba(244,148,31,1) 0%, rgba(241,203,97,1) 100%) ; 
            font-family: 'Noto Sans JP', sans-serif;
         }
         
         .devider 
         {
             border-bottom: 1px solid rgba(255, 163, 114, 0.5) ;
         }
         .footer .container .second-row h6
         {
             font-weight: 600;
             letter-spacing: 0.05em;
         }
         i:hover
         {
            cursor: pointer;
            color: #71989b;
         }
         .social-media  a {
             color:#041922 !important;
         }
         /* End Footer */