/* 
    Designer name : ahmed nadjib 
    theme coder : ahmed nadjib.
    Color ffa372
    #184d47 green 
 
        */


        * { 
            -moz-box-sizing: border-box; 
            -webkit-box-sizing: border-box; 
             box-sizing: border-box; 
             
         }
         html
         {
            scroll-behavior: smooth;
         }
        
         body{
             display: flex;
             flex-direction: column;
             margin:0; 
             padding: 0;
             background-color: #ffffff;
             color: rgba(0, 0, 0, 0.8);
             position: relative;

            }
        
         /* THE CAROUSEL START   */
         .slider
         {
             position: relative;
             z-index: 50;
         }
         .slider .carousel-inner
         {
             position: relative;
             z-index: 2;
         }
         .slider .carousel-inner .carousel-one
         {   
             background: url(../img/img2.jpg) no-repeat left top;
             background-size: cover;
         }
         .slider .carousel-inner .carousel-two
         {
            background: url(../img/img1.jpg) no-repeat left top;
            background-size: cover;
         }
         .slider .carousel-inner .carousel-three
         {
            background: url(../img/img3.jpg) no-repeat left top;
            background-size: cover;
         }
        
         .slider .carousel-inner .overlay
         {
             position: absolute;
             width: 100%;
             height: 100%;
             background-color: rgba(0, 0, 0, 0.6);
             z-index: 3
         }
         .slider .carousel-inner div .main-text h1
         {
            color: #fff;
            font-size: 68px;
         }
         .slider .carousel-inner div .main-text p{
             color: #fff;
             opacity: 0.9;
             font-size: 1.8em;
         }
         .slider .carousel-inner div .main-text{
             margin-top: 20%;
         }
         /*End The Carousel*/
        
         /* Begin the NavBar */
        .nav-bar
        {
         
            position: fixed;
            top: 0;
            z-index: 999;
            height: 90px ;
            padding: 0;
            transition: all .5s ease-out;
        
        } 
        .nav-bar .navbar{
            padding-left: 40px ;
            padding-right: 40px;
            height: 100%;
            background-color: transparent;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        .nav-bar .navbar .navbar-brand img
        {
            width: 100%;
            height: 100%;
        }
        
        .nav-bar .navbar .navbar-brand .img_logo
        {
            padding-right: 20px;
            border-right:1px solid rgba(255, 255, 255, 0.3);
            width: auto;
            height: auto;
            margin-right: 30px;
        }
        .nav-bar .navbar .navbar-brand p
        {
            display: none !important;
            margin: 0 !important;
            font-size: 16px;
            font-weight: 300;
        }
        .nav-bar .navbar .navbar-brand p span
        {
            font-size: 18px;
            font-weight: 500;
        }
        .navbar-dark .navbar-nav .nav-link
        {
            font-size: 1.05em;
            font-weight: 300;
            text-transform: uppercase;
            font-family: 'Noto Sans JP', sans-serif;
            transition: all .3s ease-out !important;
        }

        .active-link
        {
            border-left: 2px solid #f39200;
        }
        .collapse .nav-item:last-child
        {
            border: 2px solid #f39200;
            border-radius: 20px;
        }
        .collapse .nav-item:not(:last-child) a:hover
        {
            border-left: 2px solid #f39200;
            margin: 0px 5px;
            transform: scale(1.1);
        }
         
        
         /* End The NavbaR */
        
         /* Begin Footer */
         .footer
         {
            position: relative;
            bottom: 0;
            z-index:0;
            background: rgb(43,79,97);
            background: linear-gradient(90deg, rgba(0,156,225,1) 0%, rgba(6,179,214,1) 100%);         }
         
         .devider 
         {
             border-bottom: 1px solid rgba(255, 163, 114, 0.5) ;
         }
         .footer .container .second-row h6
         {
             font-weight: 600;
             letter-spacing: 0.05em;
         }
         i:hover
         {
            cursor: pointer;
            color: #71989b;
         }
         .social-media  a {
             color:#041922 !important;
         }
         /* End Footer */
        
        
         /* begin the a propos section  */
        
        
        .aboutus .container .first-row h2
         {
            color:#153438 ;
            font-family: 'Noto Sans JP', sans-serif;
         }
        .aboutus .container .first-row p
         {
            color: rgba(0, 0, 0, 0.7);
            line-height: 1.8;
            font-size: 1.1em;
            font-weight: 500;
         }
         .aboutus .container .second-row
         {
             margin-top: 30px;
         }
         .aboutus .second-row .labo-img
         {
             position: relative;
             height: 100%;
             width: 100%;
         }
         .aboutus .second-row .labo-img img
         {
             max-width: 100%;
             max-height: 100%;
             border-radius: 8px;
         }
         .aboutus .second-row .labo-img .overlay
         {
             position: absolute;
             background-color: #000;
             width: 100%;
             height: 100%;
             top: 0;
             opacity: 0.2;
             border-radius: 8px;
         }
         .valeurs
         {
            transition: padding .5s ease-out;
         }
         .valeurs:hover,
         .valeurs:focus 
         {
            padding-left: 25px;
            
         }
        
        .valeurs h4
        {
            font-family: 'Noto Sans JP', sans-serif;
            font-weight: 600;
            margin-bottom: 6 !important;
        }
        .valeurs p{
            font-weight: 500;
        }
        .philo h4
         {
            font-family: 'Noto Sans JP', sans-serif;
            font-weight: 600;
            margin-bottom: 6 !important;
         } 
         .philo p 
         {
             font-weight: 500;
         }
         .philo
         {
            transition: padding .5s ease-out;
         }
         .philo:hover,
         .philo:focus 
         {
            padding-left: 25px; 
         }
        
        
         /* End Propos Section  */
        
         /* begin information section  */
        .information 
         {
            background-color: rgba(144, 216, 160, 0.1)
         }
         .information .first-row h2
         {
            color:#153438 ;
            font-family: 'Noto Sans JP', sans-serif;
            font-weight: 500;
         }
         .information .second-row p
         {
            color: rgba(0, 0, 0, 0.7);
            line-height: 1.8;
            font-size: 1.1em;
            font-weight: 500;
         }
         .information .shaker 
         {
             transition: all .3s ease-out;
         }
         .information .shaker:hover
         {
            transform: scale(1.1);
         }
        .information .shake:not(:last-child)
         {
            border-right: solid 1px rgba(21, 52, 56, 0.5) ;
         }
        
         /*  End information section  */
        
         /* Start Section section  */

        .section h2
        {
            color:#153438 ;
            font-family: 'Noto Sans JP', sans-serif;
            font-weight: 500;
            text-transform: uppercase;
        }
         .card
         {
            border: 0px !important;
            border-radius: 0px;
            transition: all .3s ease-out;
         } 
         .card:hover
         {
             transform: scale(1.1);
         }
         .card-one .card-head
         {
             background-color:#009FE3 ;
             padding: 10px;
         }
         .card-two .card-head
         {
             background-color:#f39200 ;
             padding: 10px;
         }
         .card-three .card-head
         {
             background-color:#4CAD34 ;
             padding: 10px;
         }
        
         .card-one
         {
            border-bottom: 3px solid #009FE3 !important;
         }
         .card-two
         {
            border-bottom: 3px solid #F39200 !important;
         }
         .card-three
         {
            border-bottom: 3px solid #4CAD34 !important;
         }
         .card .card-body p
         {
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 1.07em;
            font-weight: 500;
         }
         .card .card-body
         {
             padding: 50px 0px 0 0px;
         }
         
          .card-one .card-body a
         {
           color:  #009FE3;
           font-size: 1.1em;
           font-weight: 500;
         }
         .card-two .card-body a
         {
           color:  #F39200;
           font-size: 1.1em;
           font-weight: 500;
         }
         .card-three .card-body a
         {
           color:  #4CAD34;
           font-size: 1.1em;
           font-weight: 500;
         }
         .card .card-body a:hover
         {
             opacity: 0.6;
         }
         
         /* End Section section  */
        
         /* begin gallerie */
        .galerie h2
        {
            color:#153438 ;
            font-family: 'Noto Sans JP', sans-serif;
            font-weight: 500;
            text-transform: uppercase;
        }
        .car-one{
            background: url(../img/labfour.jpg);
            background-size: cover;
        }
        .car-two{
            background: url(../img/labtwo.jpg);
            background-size: cover;
        }
        .car-three{
            background: url(../img/labthree.jpg);
            background-size: cover;
        }
        .car-four{
            background: url(../img/labone.jpg);
            background-size: cover;
        }
        .carousel-fade .carousel-item.active,
         .carousel-fade .carousel-item-next.carousel-item-left,
         .carousel-fade .carousel-item-prev.carousel-item-right
         {
             z-index: 0;
         }
         .container, .container-fluid,
          .container-sm, .container-md,
          .container-lg, .container-xl
          {
              padding: 0px;
              
          }
        .galerie .overlay
        {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(0, 0 , 0, 0.2);
            z-index: 20;
        }
        .galerie .car-control
        {   
            position: absolute;
            z-index: 21;
        }
        .galerie .row 
        {
            margin: 0px;
        }
        .galerie .car-control  div{
            border: 1px solid #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
         
         /* end Gallerie */
        .Position 
        {
            background-color: rgba(144, 216, 160, 0.1)
            
        }
        .Position h2
        {
            color:#153438 ;
            font-family: 'Noto Sans JP', sans-serif;
            font-weight: 500;
            text-transform: uppercase;
        }
        .Position .row-two iframe
        {
            padding: 0;
        
        }
         /* begin postion  */
        
         /* scroolll */
        #scroll
        {
            display: none;
          position: fixed;
          bottom: 20px;
          right: 30px;
          z-index: 9999;
          font-size: 18px;
          height: 50px;
          width: 50px;
          border: none;
          outline: none;
          background-color: #f39200;
          color: white;
          cursor: pointer;
          padding: 15px;
          border-radius: 50%;
        }
         /* end scroll */

         /* Loading  */

         /* End Loading */


        /* Media quieries  */
/*Extra small devices */
@media (max-width : 575px)
{
    .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
        width: 100%;
        padding-right: 15px!important;
        padding-left: 15px!important;
        margin-right: auto;
        margin-left: auto;
    }
    .nav-bar{
        
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
     .navbar{
        padding-right: 0px !important;
        padding-left: 0px !important;
     }
    .slider .row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    } 
    .slider .row h1
    {
        font-size:58px !important ;
    }
    .slider .row .main-text p
    {
        font-size: 1.5em !important;
    }
    .nav-bar .navbar
    {
        padding-left: 0px !important;
        padding-right: 0px!important;
    }
    .navbar-collapse
    {
        background-color: rgb(43,79,97);
        background: linear-gradient(90deg, rgba(43,79,97,1) 0%, rgba(0,159,227,1) 100%);
        padding-right: 15px;
        padding-left: 35px;
        text-align: center;
        font-weight: 600;
    }
    .aboutus .container .first-row p
    {
        padding: 10px !important;
    }
    .valeurs
    {
        margin-top: 3rem;
        text-align: center;
        
    }
    .valeurs div
    {
        justify-content: center!important;
    }
    .philo
    {
        margin-bottom: 3rem;
        text-align: center;
    }
    .philo div
    {
        justify-content: center!important;
    }
    .shake
    {
        margin-bottom: 20px;
        border-right: 0px solid #fff !important;
    }
    .card
    {
        margin-bottom: 20px;
    }
    .footer .container{
        padding: 0px 20px !important;
    }
    .navbar-dark .navbar-brand
    {
        margin-left: 0px !important;
    }
    .img_logo
    {
        margin-right: 10px!important;
        margin-left: 30px;
    }
    #btn-togler
    {
        margin-right: 30px !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px)
 { 
    .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
        width: 100%;
        padding-right: 15px!important;
        padding-left: 15px!important;
        margin-right: auto;
        margin-left: auto;
    }
    .nav-bar{
        
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
     .navbar{
        padding-right: 0px !important;
        padding-left: 0px !important;
     }
    .nav-bar .navbar .navbar-brand p
    {
        display: none !important;
    }
    .slider .row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .navbar-collapse
    {
        background-color: rgb(43,79,97);
        background: linear-gradient(90deg, rgba(43,79,97,1) 0%, rgba(0,159,227,1) 100%);
        padding-right: 15px;
        padding-left: 35px;
        text-align: center;
        font-weight: 600;
    }
    .valeurs
    {
        margin-top: 3rem;
    }
    .philo
    {
        margin-bottom: 3rem;
    }
    .shake
    {
        margin-bottom: 20px;
        border-right: 0px solid #fff !important;
    }
     .card
    {
        margin-bottom: 20px;
    }
    .footer .container{
        padding: 0px 20px !important;
    }
    .aboutus .container .first-row p
    {
        padding: 10px !important;
    }
    .img_logo
    {
        margin-right: 10px!important;
        margin-left: 30px;
    }
    #btn-togler
    {
        margin-right: 30px !important;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px)
 {
    
    .container, .container-fluid,
     .container-sm, .container-md,
      .container-lg, .container-xl {
        width: 100%;
        padding-right: 15px!important;
        padding-left: 15px!important;
        margin-right: auto;
        margin-left: auto;
    }
    .nav-bar{
        
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
     .navbar{
        padding-right: 0px !important;
        padding-left: 0px !important;
     } 
    .nav-bar .navbar .navbar-brand p
    {
        display: flex !important;
    }
    .navbar-collapse
    {
        background-color: rgb(43,79,97);
        background: linear-gradient(90deg, rgba(43,79,97,1) 0%, rgba(0,159,227,1) 100%);
        padding-right: 15px;
        padding-left: 35px;
        text-align: center;
        font-weight: 600;
    }
    .aboutus .container .first-row p
    {
        padding: 10px !important;
    }
    .valeurs
    {
        margin-top: 3rem;
    }
    .philo
    {
        margin-bottom: 3rem;
    }
    .img_logo
    {
        margin-right: 10px!important;
        margin-left: 30px;
    }
    #btn-togler
    {
        margin-right: 30px !important;
    }
 }

 /* Large devices (desktops, 992px and up) */
 
@media (min-width: 992px) 
 { 
    .navbar {
        font-size: 15px;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
 { 
    .nav-bar .navbar .navbar-brand p
    {
        display: flex !important;
    }
 }


        /* End media queries  */


